.container {
  display: flex;
  max-width: 1400px; /* Agregamos un ancho máximo para el contenido */
  /*margin: 0 auto;  Centramos el contenido */
}

.widgets-izquierda {
  flex-direction: column;
  display: flex;
}

.widgets-izquierda > div {
  background-color: #c7acc2;
  width: 200px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  margin-top: 5%;
}

.widgets-medio-imagenes {
  flex: 1;
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en filas */
  justify-content: space-around; /* Espaciado uniforme entre las imágenes */
}

.widgets-medio-imagenes div {
  flex-basis: calc(50% - 20px); /* Ajusta el ancho de las imágenes */
  margin: 10px;
}

.center-image {
  width: 100%; /* Ajustamos el ancho de las imágenes al 100% */
}

.widgets-derecha {
  width: 200px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  flex-direction: column;
}

.widgets-derecha > div {
  margin-bottom: 10px;
}

.imagentriangulo{
  width: 30px;
  height: 30px;
  background-color: transparent; 
  float: left;

}

.widgets-abajo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permite que las imágenes se envuelvan en filas */
}

.widgets-abajo div {
  flex-basis: calc(33.33% - 20px); /* Ajusta el ancho de las imágenes */
  margin: 10px;
}

h3 {
  font-family: initial;
}

h6 {
  font-family: sans-serif;
}

/* Estilos básicos del menú */
header {
  background-color: #333;
  color: #fff;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Cambio de color al pasar el mouse */
nav a:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column; /* Cambiamos a dirección de columna para apilar los elementos */
  }

  .widgets-izquierda,
  .widgets-derecha,
  .widgets-abajo,
  .widgets-medio-imagenes div {
    flex-basis: 100%;
  }
}
