.user-profile {
  text-align: center;
  margin-bottom: 20px;
}

.user-profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="submit"] {
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color:rgba(0, 0, 0, 0.1)
}

/*Estilos barra vertical */
.container {
  display: flex;
}

aside {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

/* Estilos básicos del menú */
header {
  background-color: #333;
  color: #fff;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Cambio de color al pasar el mouse */
nav a:hover {
  background-color: #555;
}


@media (max-width: 700px){
  form {
      margin-left: 15%;
  }
}

@media (max-width: 600px){
  form {
      margin-left: 9%;
  }
}
