body{
    background-color:lightgray;
}
header{
    width: 100%;
    height: 70px;
}
main{
    float: left;
    width: 80%;
}
main div{
    display: inline-block;
}
aside{
    width: 20%;
    background-color: black;
}
footer{
    text-align: center;
}